name: Python Unit Tests

on:
  pull_request:
    branches:
      - master

jobs:
  unit-test:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Python Black
        uses: psf/black@stable
        with:
          src: ./ldeep
          options: --check --diff

      - name: Set up PDM and Twine
        run: python3.12 -m pip install pdm twine

      - name: Check sdist with Twine
        run: |
          pdm build -d sdist --no-wheel
          twince check --strict sdist/*

      - name: Install dependencies
        run: |
          sudo apt-get install -y libkrb5-dev
          pdm install --prod
