name: Release and PyPi
on:
  pull_request:
    branches:
    - 'release'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Get local version
        run: echo "version=$(cat VERSION)" >> $GITHUB_ENV

      - name: Build sdist
        run: pdm build -d sdist --no-wheel

      - name: Create tag
        uses: rickstaa/action-create-tag@v1
        with:
          tag: ${{ env.version }}

      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v4

      - name: Create the release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.version }}
          files: |
            linux/ldeep_linux-amd64
            windows/ldeep_windows-amd64.exe
            macos/ldeep_macos-amd64

      - name: Upload to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: sdist/
